<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/validation/screen.css" />
<script src="/javascripts/jquery.js" type="text/javascript"></script>
<script src="/javascripts/jquery.validate.js" type="text/javascript"></script>
<script src="/javascripts/cmxforms.js" type="text/javascript"></script>	
<script type="text/javascript">
  $(document).ready(function() {
  $("#forgot_password").validate();
	$("#reset_password").validate({
		rules: {
			"cc[password]": {
				required: true,
			},
			"pas[password]": {
				required: true,
				minlength: 6
			},
			"pas[password_confirm]": {
				equalTo: "#password"
			}
		},

		messages: {
			"cc[password]": {
				required: "Please provide your CC Password",
			},
			"pas[password]": {
				required: "Please provide a password",
				minlength: "Minimum 6 characters long"
			},
			"pas[password_confirm]": {
				equalTo: "Passwords didn't match"
			}
		}
	});
	$("#password").blur(function() {
		$("#password_confirm").valid();
	});
	});
</script>
<style type="text/css">
    #reset_password { width: 500px; }
    #reset_password label.error, #reset_password input.submit { margin-left: 0px; }
    #forgot_password label.error, #forgot_password input.submit { margin-left: 155px; }
</style>
<% if defined?(@is_student)%>
    <%if @is_student%>
	<form id='reset_password' class="cmxform" name='reset_password' action='/reset_password' method='post'>
	<input type='hidden' name="cc[login]" value='<%=@username%>'/>
	<table>
	  <tr>
	    <td><b>CC Password:</b></td>
	    <td><input type='password' name="cc[password]" id='cc[password]'/></td>
	  </tr>
	  <tr>
	    <td><b>New PAS password:</b></td>
	    <td><input type='password' name="pas[password]" id='password'/></td>
	  </tr>
	  <tr>
	    <td><b>Confirm password:</b></td>
	    <td><input type='password' name="pas[password_confirm]" id='password_confirm'/></td>
	  </tr>
	  </table>
	  <input type='submit' value='Submit'/>
	</form>
    <%else%>
	<b>Password reset link is sent to your mail</b>
    <%end%>
<%else%>
    <% if flash[:error] %>
      <div class="errorExplanation"><%= flash[:error] %></div>
    <% end %>
    <form id='forgot_password' name='forgot_password' class='cmxform' action='/forgot_password' method='post'>
    Enter PAS Login:
    <input name="login" id="login" class="required"/> <br/>
    <input type='submit' value='Submit'/>
    </form>
<%end%>

