<html><head>

<title>Students Placement Office - Registration Form </title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>
<body link="#000000" text="#000000" bgcolor="#ffffff">
<div align="center">

  <p align="left">&nbsp;</p>
  <p><font size="6"><b>INDIAN INSTITUTE OF TECHNOLOGY KANPUR</b></font> </p>
</div>

<p align="center"><font size="6">SPO REGISTRATION FORM</font></p>
<p align="center"><font size="6">BTECH 2009-2010</font></p>
<div align="center"><font size="6"><a href="http://www.iitk.ac.in/"><img src="/images/iitk_logo.jpg" alt="" height="108" width="116" border="0"></a></font>
</div>
Please fill the form carefully as <b><u>this is one time only</u></b><u></u>. Fill the details <b><u>as per your I Card.</u></b><u></u>

<table>
     <tbody><tr><td colspan="2"><font face="Arial"><h4>Instructions to fill the from</h4></font></td></tr>
     <tr><td width="100"></td><td><font face="Verdana" size="2">1.All fields are mandatory unless specified.</font></td></tr><tr>
     </tr><tr><td width="100"></td><td><font face="Verdana" size="2">2.Only ( <font color="blue"><sup>*</sup></font> ) marked fields can be edited later.</font></td></tr><tr>
     </tr><tr><td width="100"></td><td><font face="Verdana" size="2">3.Fill only room no. and Hall no. in Local address.(e.g. A-314,Hall-5).</font></td></tr><tr>
     </tr><tr><td width="100"></td><td><font face="Verdana" size="2">4.A
printout of the page generated after filling this form must be
submitted in spo office. If you are out of the campus then you can
submit it after returning back but before July 31, 2009.</font></td></tr><tr>
         </tr><tr><td width="100"></td><td><font face="Verdana" size="2">5.All
company preferences should be specified and should be different.Company
preferences will not bind your placement(this will be used by spo).</font></td></tr><tr>

</tr></tbody></table>
<hr noshade="true" size="1%" width="100%" color="#000000">
<hr noshade="true" size="1%" width="100%" color="#000000">
<br/>
