<html><head>
<title>Students Placement Office - Registration Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head><body link="#000000" text="#000000" bgcolor="#ffffff">
<div align="center">

  <p align="left">&nbsp;</p>
  <p><font size="6"><b>INDIAN INSTITUTE OF TECHNOLOGY KANPUR</b></font> </p>
</div>

<p align="center"><font size="6">STUDENTS PLACEMENT OFFICE</font></p>
<p align="center"><font size="6">2009-2010</font></p>
<div align="center"><font size="6"><a href="http://www.iitk.ac.in/"><img src="/images/iitk_logo.jpg" alt="" height="108" width="116" border="0"></a></font>
</div>

<h2>
<center>
Please click on the program you belong to</center></h2>
<font face="helvetica" color="red"><h5><center></center></h5></font>
<table align="center">
<tbody><tr>
<td> <font face="helvita" size="5" color="blue">
<a href="/students_registration/new?prog=btech">Btech</a></font>
</td>
<td><font face="helvita" size="5" color="blue">
<a href="/students_registration/new?prog=dual">Dual Degree</a></font>
</td>
</tr>
<tr>
<td><font face="helvita" size="5" color="blue">
<a href="/students_registration/new?prog=mtech">Mtech</a></font>
</td>
<td><font face="helvita" size="5" color="blue">
<a href="/students_registration/new?prog=mdes">Mdes</a></font>
</td>
</tr>
<tr>
<td><font face="helvita" size="5" color="blue">
<a href="/students_registration/new?prog=msci">MSc(5 year)</a></font>
</td>
<td><font face="helvita" size="5" color="blue">
<a href="/students_registration/new?prog=msc2">MSc(2 year)</a></font>
</td>
</tr>
<tr>
<td><font face="helvita" size="5" color="blue">
<a href="/students_registration/new?prog=mba">MBA</a></font>
</td>
<td><font face="helvita" size="5" color="blue">
<a href="/students_registration/new?prog=phd">PHD</a></font>
</td>
</tr>
</tbody></table><table>
   <tbody><tr><th align="left">FAQ: SPO Registration<br></th></tr>
   <tr><td><font face="Verdana" size="2"><br><b>Q. I have deleted the mail from 'PAS' regarding registration so i don't have authentication details.How can i register now?</b></font></td></tr>
   <tr><td><font face="Verdana" size="2">A. Use CC login and password for authentication to get the new password for the registration. <!--<a href="http://placement.iitk.ac.in/pas/reg_forgot_password">click here</a> and reset your password.--></font></td></tr>
   <tr><td><font face="Verdana" size="2"><br><b>Q.
I forgot to take the prinout after filling the form.Is it mandatory to
submit the printout? If yes then how can i get the form back?</b></font></td></tr>
   <tr><td><font face="Verdana" size="2">A.
Yes,It's mandatory to submit the printout of the registration
form.Please fill the form again with the same entries and click on
'check my form'(password not required) and take the prinout of the
generated page. </font></td></tr>

   </tbody></table></body></html>